openapi: 3.0.0
info:
  title: Case Manager
  version: 1.0.0
  x-generated-from: https://app.airmdr.com/docs/api/case_manager.html (Redoc __redoc_state, harvested 2026-09-19)
  description: AirMDR Case Manager API. Harvested verbatim from the Redoc reference published on app.airmdr.com; servers[]
    resolved from the relative /airmdrapi path against the app.airmdr.com host the same docs use in every example.
servers:
- url: https://app.airmdr.com/airmdrapi
  description: AirMDR API (relative /airmdrapi in the published spec, resolved against app.airmdr.com per docs.airmdr.com/api-reference/apitoken)
paths:
  /case:
    post:
      tags:
      - Case Manager
      operationId: createCaseAPI
      summary: create a new case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaseRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCaseResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{case_uuid}:
    get:
      tags:
      - Case Manager
      operationId: getCaseAPI
      summary: get details of a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id of the case to be fetched
        required: true
        schema:
          type: string
      - name: requested_view
        in: query
        description: Requested view of the case
        required: true
        schema:
          $ref: '#/components/schemas/CaseView'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCaseResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Case Manager
      operationId: updateCaseAPI
      summary: update details of a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case to be updated
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCaseRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCaseResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{case_uuid}/email:
    post:
      tags:
      - Case Manager
      operationId: emailCaseDetailsAPI
      summary: email details of a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCaseDetailsRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCaseDetailsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/id/{case_id}:
    get:
      tags:
      - Case Manager
      operationId: getCaseFromIdAPI
      summary: get details of a case from case id
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_id
        in: path
        description: The unique case id of the case to be fetched
        required: true
        schema:
          type: string
      - name: requested_view
        in: query
        description: Requested view of the case
        required: true
        schema:
          $ref: '#/components/schemas/CaseView'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCaseResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/list:
    post:
      tags:
      - Case Manager
      operationId: getCasesForOrgAPI
      summary: get case list for an organization based on filter and sort
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: page
        in: query
        description: Page number for paginated results.
        required: true
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results per page.
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseListRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: List of cases retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseListResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/bulk:
    delete:
      tags:
      - Case Manager
      operationId: archiveCasesAPI
      summary: archive cases for given uuids
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveCasesRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveCasesResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case:
    post:
      tags:
      - Case Manager V2
      operationId: createCaseAPIV2
      summary: create a new v2 case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCaseRequestV2'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCaseResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseAPIV2
      summary: get details of a v2 case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id of the case to be fetched
        required: true
        schema:
          type: string
      - name: requested_view
        in: query
        description: Requested view of the case
        required: true
        schema:
          $ref: '#/components/schemas/CaseView'
      - name: include_hidden_findings
        in: query
        description: Whether to include hidden findings in the response
        required: false
        schema:
          type: boolean
      - name: subscribe_to_updates
        in: query
        description: If true, the user will receive WebSocket events when this case is updated
        required: false
        schema:
          type: boolean
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCaseResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Case Manager V2
      operationId: updateCaseAPIV2
      summary: update details of a v2 case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case to be updated
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCaseRequestV2'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCaseResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Case Manager V2
      operationId: archiveCaseAPI
      summary: archive a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/hard_delete:
    delete:
      tags:
      - Case Manager V2
      operationId: deleteCaseAPI
      summary: delete a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/ignore_case_metric:
    patch:
      tags:
      - Case Manager V2
      operationId: ignoreCaseMetricAPI
      summary: ignore/unignore the case from metrics.
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: operation performed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCaseResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/finding:
    post:
      tags:
      - Case Manager V2
      operationId: addCaseFindingAPI
      summary: add a new finding in case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to upsert finding
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCaseFindingRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: finding created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddCaseFindingResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/finding/{finding_uuid}:
    patch:
      tags:
      - Case Manager V2
      operationId: updateCaseFindingAPI
      summary: update a finding in the case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to upsert finding
        required: true
        schema:
          type: string
      - name: finding_uuid
        in: path
        description: The id or uuid of the finding to be deleted
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCaseFindingRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: finding updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCaseFindingResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Case Manager V2
      operationId: deleteCaseFindingAPI
      summary: delete a finding in a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to delete finding from
        required: true
        schema:
          type: string
      - name: finding_uuid
        in: path
        description: The id or uuid of the finding to be deleted
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: finding deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCaseFindingResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/finding/{finding_uuid}/email:
    post:
      tags:
      - Case Manager V2
      operationId: emailCaseFindingDetailsAPIV2
      summary: email details of a v2 case finding
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case
        required: true
        schema:
          type: string
      - name: finding_uuid
        in: path
        description: The uuid of the finding
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCaseFindingDetailsRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCaseFindingDetailsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/finding/{finding_uuid}/evidence/{evidence_uuid}:
    get:
      tags:
      - Case Manager V2
      operationId: getEvidenceAPI
      summary: get evidence data for a finding based on uuid
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      - name: finding_uuid
        in: path
        description: The id or uuid of the finding
        required: true
        schema:
          type: string
      - name: evidence_uuid
        in: path
        description: The id or uuid of the evidence to be deleted
        required: true
        schema:
          type: string
      - name: version
        in: query
        description: Version for evidence. If not provided, latest evidence will be returned
        schema:
          type: integer
      security:
      - SessionCookie: []
      responses:
        '200':
          description: evidence fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEvidenceResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/attachment:
    post:
      tags:
      - Case Manager V2
      operationId: uploadCaseAttachmentAPI
      summary: upload an image attachment for a case
      description: 'Uploads a single image, stored in the case attachments S3 bucket and rendered in the images strip under
        the alert details section of the case. The bytes are validated server side: the declared content type is ignored in
        favour of magic byte sniffing, the file must decode as a real image, and SVG is never accepted because serving it
        same origin would be stored XSS in an analyst session.

        '
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is performed through a darryl action
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The image to upload. Maximum 5 MiB. Allowed types are PNG, JPEG and GIF.
                section:
                  type: string
                  description: Which section of the case the image belongs to. Defaults to alert_details.
                  enum:
                  - alert_details
                  - comment
                caption:
                  type: string
                  description: Optional analyst supplied caption.
      responses:
        '201':
          description: attachment uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadCaseAttachmentResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/attachments:
    get:
      tags:
      - Case Manager V2
      operationId: listCaseAttachmentsAPI
      summary: list the image attachments for a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      - name: section
        in: query
        description: Restrict the result to a single section. All sections are returned when omitted.
        schema:
          type: string
          enum:
          - alert_details
          - comment
      - name: comment_id
        in: query
        description: 'Restrict the result to images attached to a single comment. Implies section=comment.

          '
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: attachments fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCaseAttachmentsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/attachment/{attachment_uuid}:
    delete:
      tags:
      - Case Manager V2
      operationId: deleteCaseAttachmentAPI
      summary: delete a case image attachment
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is performed through a darryl action
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      - name: attachment_uuid
        in: path
        description: The uuid of the attachment
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: attachment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/attachment/{attachment_uuid}/content:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseAttachmentContentAPI
      summary: stream the bytes of a case image attachment
      description: 'Streams the image from S3 through the service so that organization access is re-checked on every request.
        This is the URL used as the src of the rendered img element; it is permanent and revocable, unlike a presigned S3
        URL. The response Content-Type is the type sniffed at upload time and is served with X-Content-Type-Options nosniff
        and a restrictive Content-Security-Policy.

        '
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case
        required: true
        schema:
          type: string
      - name: attachment_uuid
        in: path
        description: The uuid of the attachment
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: attachment content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/email:
    post:
      tags:
      - Case Manager V2
      operationId: emailCaseDetailsAPIV2
      summary: email details of a v2 case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailCaseDetailsRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: email sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailCaseDetailsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/list:
    post:
      tags:
      - Case Manager V2
      operationId: getCasesForOrgAPIV2
      summary: get case list for an organization based on filter and sort
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: page
        in: query
        description: Page number for paginated results.
        required: true
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results per page.
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseListRequestV2'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: List of cases retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseListResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_identifier}/chat_session/{chat_session_id}/link:
    post:
      tags:
      - Case Manager V2
      operationId: linkChatSessionToCaseAPIV2
      summary: Link given chat session to case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case to which chat session will be linked
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the chat session to link to the case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: chat session linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_identifier}/chat_session/{chat_session_id}/unlink:
    post:
      tags:
      - Case Manager V2
      operationId: unlinkChatSessionToCaseAPIV2
      summary: Unlink given session from case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case from which session will be unlinked
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the session to unlink from case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: session unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/chat_session/{chat_session_id}:
    get:
      tags:
      - Case Manager V2
      operationId: getLinkedCasesForSessionAPIV2
      summary: Get linked cases for given session uuid
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the session to which cases are linked
        schema:
          type: string
        required: true
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case list fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseListResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_identifier}/cases/link:
    post:
      tags:
      - Case Manager V2
      operationId: linkCasesAPIV2
      summary: Link given cases in request to the case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case to which others cases will be linked
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseLinkRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{primary_case_identifier}/secondary/case/{secondary_case_identifier}/unlink:
    post:
      tags:
      - Case Manager V2
      operationId: unlinkCaseAPIV2
      summary: Unlink cases from one another
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: primary_case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case from which second case will be unlinked
        schema:
          type: string
      - name: secondary_case_identifier
        in: path
        description: Unique identifier uuid of the second case to unlink from primary case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: cases unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_identifier}/alert/{alert_uuid}/unlink:
    post:
      tags:
      - Case Manager V2
      operationId: unlinkAlertToCaseAPIV2
      summary: Unlink given alert from case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case from which alert will be unlinked
        schema:
          type: string
      - name: alert_uuid
        in: path
        description: Unique identifier of the alert to unlink from case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: alert unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/reindex:
    post:
      tags:
      - Case Manager Internal
      operationId: reindexCasesV2API
      summary: Reindex Cases V2 into Opensearch
      description: Ollivander will be requested to reinsert every Case one by one via RabbitMQ queues
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: register
        in: query
        description: whether to register the entity again
        schema:
          type: boolean
          default: false
      - name: starting_time
        in: query
        description: Optional unix timestamp (seconds). If provided, only cases created at or after this time will be reindexed.
        schema:
          type: integer
          format: int64
      - name: end_time
        in: query
        description: Optional unix timestamp (seconds). If provided, only cases created at or before this time will be reindexed
          (inclusive).
        schema:
          type: integer
          format: int64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseReindexRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/bulk:
    delete:
      tags:
      - Case Manager
      operationId: archiveCasesAPIV2
      summary: archive cases for given uuids
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveCasesRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case archived successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchiveCasesResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/bulk/hard_delete:
    delete:
      tags:
      - Case Manager
      operationId: bulkDeleteCasesAPIV2
      summary: hard delete cases for given uuids
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteCasesRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: cases deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteCasesResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/comment:
    post:
      tags:
      - Case Manager V2
      operationId: addCaseCommentAPI
      summary: add a new comment to the case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to upsert comment
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCaseCommentRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: comment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertCaseCommentResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/comment/{comment_id}:
    patch:
      tags:
      - Case Manager V2
      operationId: updateCaseCommentAPI
      summary: update a comment in the case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case to update comment
        required: true
        schema:
          type: string
      - name: comment_id
        in: path
        description: The uuid of the comment to be updated
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCaseCommentRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: comment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertCaseCommentResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Case Manager V2
      operationId: deleteCaseCommentAPI
      summary: delete a comment in the case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case to delete the comment from
        required: true
        schema:
          type: string
      - name: comment_id
        in: path
        description: The uuid of the comment to be deleted
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: comment deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/comments:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseCommentsListAPI
      summary: get paginated list of case comments
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to get comments
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number for paginated results.
        required: true
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results per page.
        required: true
        schema:
          type: integer
      security:
      - SessionCookie: []
      responses:
        '200':
          description: comments list fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseCommentsListResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/history:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseHistoryAPI
      summary: get paginated list of case history
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to get history
        required: true
        schema:
          type: string
      - name: page
        in: query
        description: Page number for paginated results.
        required: true
        schema:
          type: integer
      - name: size
        in: query
        description: Number of results per page.
        required: true
        schema:
          type: integer
      - name: sort
        in: query
        description: Sort type for history. Possible values are 1 (Latest First), 5(Oldest First)
        schema:
          $ref: '#/components/schemas/CaseHistorySort'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: history fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseHistoryResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/history/{change_log_id}/case:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseAtHistoryEntryAPI
      summary: get the case reconstructed as it was at a specific history entry, read-only
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to reconstruct
        required: true
        schema:
          type: string
      - name: change_log_id
        in: path
        description: The history entry to reconstruct the case as of (inclusive)
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case reconstructed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCaseResponseV2'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/versions:
    get:
      tags:
      - Case Manager V2
      operationId: listCaseNamedVersionsAPI
      summary: list named versions for a case
      parameters:
      - $ref: '#/components/parameters/user-id'
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/x-request-id'
      - name: case_uuid
        in: path
        required: true
        schema:
          type: string
      - name: page
        in: query
        required: true
        schema:
          type: integer
      - name: size
        in: query
        required: true
        schema:
          type: integer
      security:
      - SessionCookie: []
      responses:
        '200':
          description: named versions fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCaseNamedVersionsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/history/{change_log_id}/version:
    post:
      tags:
      - Case Manager V2
      operationId: createCaseNamedVersionAPI
      summary: name this history entry as a version
      parameters:
      - $ref: '#/components/parameters/user-id'
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/x-request-id'
      - name: case_uuid
        in: path
        required: true
        schema:
          type: string
      - name: change_log_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseNamedVersionNameRequest'
      security:
      - SessionCookie: []
      responses:
        '201':
          description: named version created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseNamedVersionResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
      - Case Manager V2
      operationId: renameCaseNamedVersionAPI
      summary: rename the named version pinned to this history entry
      parameters:
      - $ref: '#/components/parameters/user-id'
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/x-request-id'
      - name: case_uuid
        in: path
        required: true
        schema:
          type: string
      - name: change_log_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseNamedVersionNameRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: named version renamed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseNamedVersionResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Case Manager V2
      operationId: deleteCaseNamedVersionAPI
      summary: delete the named version pinned to this history entry
      parameters:
      - $ref: '#/components/parameters/user-id'
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/x-request-id'
      - name: case_uuid
        in: path
        required: true
        schema:
          type: string
      - name: change_log_id
        in: path
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: named version deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/watchers:
    get:
      tags:
      - Case Manager V2
      operationId: getCaseWatchersAPI
      summary: get list of case watchers
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to get watchers
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: watchers fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseWatchersResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
      - Case Manager V2
      operationId: addCaseWatchersAPI
      summary: add list of users to case watchers
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to get watchers
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCaseWatchersRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: watchers fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseWatchersResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Case Manager V2
      operationId: removeCaseWatchersAPI
      summary: remove list of user from case watchers
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: Execution-ID
        in: header
        description: ID of the execution if action is perfomed through a darryl action
        schema:
          type: string
      - name: Organization-Hosturl
        in: header
        description: The host url of the organization
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The id or uuid of the case to get watchers
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertCaseWatchersRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: watchers deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseWatchersResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/clone:
    post:
      tags:
      - Case Manager V2
      operationId: cloneCaseAPI
      summary: Clone a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneCaseRequest'
      responses:
        '200':
          description: case cloned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneCaseResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/{case_uuid}/reinvestigate:
    post:
      tags:
      - Case Manager V2
      operationId: reinvestigateCaseAPI
      summary: Reinvestigate a case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_uuid
        in: path
        description: The uuid of the case to reinvestigate
        required: true
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case reinvestigated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v2/case/comments/list:
    post:
      tags:
      - Case Manager V2
      operationId: listCaseCommentsAPI
      summary: List case comments
      parameters:
      - $ref: '#/components/parameters/user-id'
      - $ref: '#/components/parameters/organization-id'
      - $ref: '#/components/parameters/x-request-id'
      - name: page
        in: query
        required: false
        schema:
          type: integer
      - name: size
        in: query
        required: false
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCaseCommentsRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case comments listed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCaseCommentsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/reindex:
    post:
      tags:
      - Case Manager Internal
      operationId: reindexCasesAPI
      summary: Reindex Cases into Opensearch
      description: Ollivander will be requested to reinsert every Case one by one via RabbitMQ queues
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: register
        in: query
        description: whether to register the entity again
        schema:
          type: boolean
          default: false
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/orgcode/migrate:
    post:
      tags:
      - Case Manager Internal
      operationId: addOrgCodeAPI
      summary: Add org code to to all cases
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/cache/purge:
    post:
      tags:
      - Case Manager Internal
      operationId: purgeCacheAPI
      summary: Purge case related cache in redis
      description: Use this endpoint to purge a particular or all case related cache stored in redis
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: cache_prefix
        in: query
        required: true
        description: Prefix to the cache that has to be purged.
        schema:
          type: string
          default: false
      security:
      - SessionCookie: []
      responses:
        '200':
          description: cache purged successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{case_identifier}/chat_session/{chat_session_id}/link:
    post:
      tags:
      - Case Manager
      operationId: linkChatSessionToCaseAPI
      summary: Link given chat session to case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case to which chat session will be linked
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the chat session to link to the case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: chat session linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{case_identifier}/chat_session/{chat_session_id}/unlink:
    post:
      tags:
      - Case Manager
      operationId: unlinkChatSessionToCaseAPI
      summary: Unlink given session from case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case from which session will be unlinked
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the session to unlink from case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: session unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/chat_session/{chat_session_id}:
    get:
      tags:
      - Case Manager
      operationId: getLinkedCasesForSessionAPI
      summary: Get linked cases for given session uuid
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: chat_session_id
        in: path
        description: Unique identifier uuid of the session to unlink from case
        schema:
          type: string
        required: true
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case list fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseListResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{case_identifier}/cases/link:
    post:
      tags:
      - Case Manager
      operationId: linkCasesAPI
      summary: Link given cases in request to case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case to others cases will be linked
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaseLinkRequest'
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case linked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/{primary_case_identifier}/secondary/case/{secondary_case_identifier}/unlink:
    post:
      tags:
      - Case Manager
      operationId: unlinkCaseAPI
      summary: Unlink given secondary case from primary case
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: primary_case_identifier
        in: path
        description: Unique identifier (id or uuid) of the case from which secondary case will be unlinked
        schema:
          type: string
      - name: secondary_case_identifier
        in: path
        description: Unique identifier uuid of the secondary case to unlink from primary case
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case unlinked successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/metrics:
    get:
      tags:
      - Case Manager
      - Dashboard
      operationId: getCaseMetrics
      summary: Retrieve metrics data
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: days
        in: query
        description: Number of days to include in the metrics calculation (optional)
        schema:
          type: integer
          minimum: 1
          default: 7
        required: false
      - name: organization_id
        in: query
        description: Additional org id filter. Only applicable for Airmdr employees. If empty, metrics for all organizations
          are shown.
        schema:
          type: string
      security:
      - SessionCookie: []
      responses:
        '200':
          description: case metrics fetched successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseMetricsResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/analytics/metrics:
    get:
      tags:
      - Case Manager
      - Dashboard
      operationId: getCaseAnalyticsMetrics
      summary: Retrieve case analytics dashboard metrics
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: days
        in: query
        description: Number of days to include in the metrics calculation.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 7
      - name: organization_id
        in: query
        description: Org ID filter. Only applicable for AirMDR employees. If empty, metrics for all accessible organizations
          are returned.
        required: false
        schema:
          type: string
      - name: created_at_from
        in: query
        description: Start of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: created_at_to
        in: query
        description: End of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: force_refresh
        in: query
        description: When true, bypass any cached result and recompute the metrics.
        required: false
        schema:
          type: boolean
          default: false
      security:
      - SessionCookie: []
      responses:
        '200':
          description: Case analytics metrics fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseAnalyticsDashboardResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/soc/metrics:
    get:
      tags:
      - Case Manager
      - Dashboard
      operationId: getCaseSocPerformanceMetrics
      summary: Retrieve SOC performance dashboard metrics
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: days
        in: query
        description: Number of days to include in the metrics calculation.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 7
      - name: organization_id
        in: query
        description: Org ID filter. Only applicable for AirMDR employees. If empty, metrics for all accessible organizations
          are returned.
        required: false
        schema:
          type: string
      - name: created_at_from
        in: query
        description: Start of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: created_at_to
        in: query
        description: End of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: force_refresh
        in: query
        description: When true, bypass any cached result and recompute the metrics.
        required: false
        schema:
          type: boolean
          default: false
      security:
      - SessionCookie: []
      responses:
        '200':
          description: SOC performance metrics fetched successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocPerformanceDashboardResponse'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /case/executive/metrics:
    get:
      tags:
      - Case Manager
      - Dashboard
      operationId: getCaseExecutiveMetrics
      summary: Retrieve executive dashboard metrics
      parameters:
      - name: User-ID
        in: header
        description: The User ID of the requestor.
        required: true
        schema:
          type: string
      - name: Organization-ID
        in: header
        description: The Organization ID associated with the requestor.
        schema:
          type: string
      - name: X-Request-ID
        in: header
        description: The ID associated with the request
        schema:
          type: string
      - name: days
        in: query
        description: Number of days to include in the metrics calculation.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 7
      - name: organization_id
        in: query
        description: Org ID filter. Only applicable for AirMDR employees. If empty, metrics for all accessible organizations
          are returned.
        required: false
        schema:
          type: string
      - name: created_at_from
        in: query
        description: Start of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: created_at_to
        in: query
        description: End of case creation time range as Unix timestamp (seconds).
        required: false
        schema:
          type: integer
          format: int64
      - name: force_refresh
        in: query
        description: When true, bypass any cached result and recompute the metrics.
        required: false
        schema:
          type: boolean
          default: false
      security:
      - SessionCookie: []
      responses:
        '200':
[...]
